body{

font-family:Arial;
text-align:center;
background:#f4f4f4;
color:black;

}

.container{

margin-top:100px;

}

#counter{

font-size:70px;
margin:20px;

}

button{

padding:15px;
font-size:18px;
margin:10px;
border:none;
border-radius:8px;

}

.dark{

background:#121212;
color:white;

}

.dark button{

background:#333;
color:white;

}